.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* styles.css */
/* for filehistory table  */
.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on iOS */
}

.table {
  min-width: 600px; /* Adjust based on your table content */
}

/* for adminlogin page  */

.bg-teal {
  background-color: #38B2AC; /* Teal color */
}

.text-teal {
  color: #38B2AC; /* Teal color */
}

.btn-teal {
  background-color: #38B2AC; /* Teal color */
  color: white;
}

.btn-teal:hover {
  background-color: #2C7A7B; /* Darker teal on hover */
}

.bot-image {
  width: 80%;
}

@media (max-width: 768px) {
  .bot-image {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .logo{
    margin-top: 380px;
    margin-right: 35px;
  }
  .kubotalogo{
    margin-left: -30px;
  }
  .name{
    margin-top: 15px;
  }
}
@media (max-height: 630px) and (max-width: 576px) {
  .logo{
    margin-top: 280px;
    margin-right: 35px;
  }
}
@media only screen and (min-height: 635px ) and (max-height: 670px) and (max-width: 576px)  {
  .logo{
    margin-top: 330px;
    margin-right: 35px;
  }
  .kubotalogo{
    margin-left: -40px;
  }
  .escorts{
    margin-right: 40px;
  }
  .name{
    margin-top: 15px;
  }
}

@media only screen and (min-height: 730px ) and (max-height: 773px) and (max-width: 576px)  {
  .logo{
    margin-top: 390px;
    margin-right: 35px;
  }
  .kubotalogo{
    margin-left: -40px;
  }
  .escorts{
    margin-right: 40px;
  }
  .name{
    margin-top: 15px;
  }
}

@media only screen and (min-height: 810px ) and (max-width: 576px)   {
  .logo{
    margin-top: 450px;
    margin-right: 35px;
  }
  .kubotalogo{
    margin-left: -40px;
  }
  .escorts{
    margin-right: 40px;
  }
  .name{
    margin-top: 15px;
  }
}

/* for tablet view
@media (min-width: 577px ) and (max-width:850px)  {
  .logo{
    margin-top: 150px;
  }
 
}
@media (min-width: 900px ) and (max-width:1200px)  {
  .logo{
    margin-top: 100px;
  }
}
  */
